/*GENERAL*/
  *{margin: 0; padding: 0;}
  /*HEADER*/
  .bg-navbar{
      background-color: #525e75;
  }
  
  /*FONDO*/
  .fondo-ppal{
      max-width: 100%;
      height: auto;
  }
  .container-fondo{
      position: relative;
      text-align: center;
      color: black;
    }
  .top-left {
      position: absolute;
      top: 70px;
      left: 50px;
  }
  .boton-contacto{
      background-color: blue; color: white; content: 100px; padding: 10px; border: solid 2px black; text-decoration: none;
  }
  
  .centrado{text-align: center;}
  
  @media only screen and (max-width: 451px) {
      h1 {
        font-style: bold;
        font-size: 20px;
        margin: 15px 10px 1px 3px;
      }
      h3 {
        font-style: italic;
        font-size: 15px;
        margin-left: 5px;
      }
  }

