* {
    margin: 0;
    padding: 0;
}
/*HEADER*/
.bg-navbar {
    background-color: map-get($map: header, $key: bg-header)
  }

/*FONDO*/
.container-fondo {
    position: relative;
    text-align: center;
    color: nth($list: colores, $n: 2 );

    .fondo-ppal {
        max-width: 100%;
        height: auto;
    }

    .top-left {
        position: absolute;
        top: 70px;
        left: 50px;
    }

    .boton-contacto {
        background-color: nth($list: colores, $n:3 );
        content: 100px;
        padding: 10px;
        border: solid 2px black;
        @include text-color (whitesmoke, none);
    }
}

/*FOOTER*/
footer {
    background-color: nth($list: colores, $n: 1 );
    @extend %flex;
  
    .lista-footer {
      list-style: none;
      display: inline-block;
      @include text-color (whitesmoke, none);
      font-size: 20px;
  
      li a {
        text-align: center;
        @include text-color (whitesmoke, none);
      }
    }
  
    .redes {
      text-align: right;
    }
  }