@import './listas';
@import './general';
@import './mapas';

.centrado {
  text-align: center;
}

.color-hover {
  transition: all 0.5s;
  & :hover {
    background-color: nth($list: colores, $n: 1 );
  }
}

@media only screen and (max-width: 451px) {
  h1 {
    font-style: bold;
    font-size: 20px;
    margin: 15px 10px 1px 3px;
  }

  h3 {
    font-style: italic;
    font-size: 15px;
    margin-left: 5px;
  }
}